* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}
.nav_bar {
  background: #1785a0;
  text-align: center;
  font-size: 20px;
  color: rgb(251, 253, 255);
  padding: 10px;
}

input {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  outline: none;
}

button {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  outline: none;
  background: #05bb3b;
  color: azure;
  cursor: pointer;
}
.contact_list {
  background: rgb(214, 212, 212);
  padding: 1rem;
  margin: 5px;
  border-radius: 5px;
}
.contact {
  background: rgb(235, 229, 229);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
.contact_adder {
  background: rgb(158, 157, 157);
  padding: 1rem;
  margin: 5px;
  border-radius: 5px;
}
